body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #242424;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #242424;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    margin-bottom: 30px;
}

canvas {
    max-width: 100%;
}

#chart-container {
    width: 80%;
    margin: 0 auto;
}
